.Chat-bar {
  background-color: #e0e7ff;
  height: 75vh;
  position: relative;
}

.Chat-user {
  align-items: center;
  border-bottom: 1px solid #a0a0a0;
  padding: 10px 15px;
  gap: 10px;
  display: flex;
}

.Chat-user img {
  border-radius: 50%;
  width: 26px;
}

.Chat-user img:first-child {
  aspect-ratio: 1/1;
  width: 40px;
}

.Chat-user .arrow {
  display: none;
}

.Chat-user p {
  font-size: 22px;
  color: #4A90E2;
  font-weight: 500;
  flex: 1;
  gap: 6px;
  align-items: center;
  display: flex;
}

.Chat-input {
  position: absolute;
  gap: 11px;
  align-items: center;
  padding: 10px 15px;
  display: flex;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
}

.Chat-input img {
  cursor: pointer;
  width: 32px;
}

.Chat-input label {
  display: flex;
}

.Chat-input label img {
  width: 23px;
}

.Chat-input input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
}

.Chat-input input:focus {
  outline: 2px solid #4A90E2;
}

.chat-post {
  display: flex;
  height: calc(100% - 72px);
  padding-bottom: 50px;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.s-post div img,
.r-post div img {
  aspect-ratio: 1/1;
  border-radius: 50px;
  width: 28px;
}

.s-post,
.r-post {
  justify-content: end;
  padding: 0px 16px;
  align-items: end;
  display: flex;
  gap: 6px;
}

.r-post {
  justify-content: start;
  flex-direction: row-reverse;
}

.post {
  font-weight: 302;
  max-width: 202px;
  background-color: #0ABAB5;
  border-radius: 9px 9px 0px 9px;
  padding: 9px;
  color: antiquewhite;
  margin-bottom: 32px;
  font-size: 13px;
}

.r-post .post {
  border-radius: 9px 9px 9px 0px;
}

.s-post .post {
  background-color: antiquewhite; 
}

.s-post div,
.r-post div {
  font-size: 10px;
  text-align: center;
}

.post-img {
  margin-bottom: 32px;
  border-radius: 9px;
  max-width: 232px;
}

.hello-there {
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  display: flex;
  width: 100%;
  align-items: center;
}

.hello-there img {
  width: 60px;
}

.hello-there p {
  font-weight: 500;
  color: #4A90E2;
  font-size: 21px;
}

@media (max-width:900px) {
  .Chat-bar{
      justify-content: center;
      width: 100%;
  }

  .Chat-input img:hover {
    opacity: 0.8;
  }

  .Chat-user .help{
      display: none;
  }
}